<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>
<form method="post">
    <input type="text" name="oldpassword" placeholder="old password"><br>
    <input type="text" name="newpassword" placeholder="new password"><br>
    <input type="text" name="confirmpassword" placeholder="confirm new password"><br>
    <input type="submit">
</form>
</body>
</html>